<h1>Welcome to Akissi Delivery Services</h1>
<p>Choose from the menu</p>

<ul>
	<li><%= link_to "Order a delivery", :controller=>:requests, :action=>:new %></li>
	<li><a href="#">About Us</a></li>
</ul>